footer{
    background: rgba(9,4,19,0.7);
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
}

.get-know-us{
    text-align: center;
    width: 33%;
    align-items: center;
}

.payment{
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts{
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer p{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.get-know-us a{
    color: #9b59b6;
    text-decoration: none;
    width: 140px;
}

.get-know-us a:hover{
    color: white;
}

.payment a{
    color: #9b59b6;
    text-decoration: none;
    width: 140px;
}

.payment a:hover{
    color: white;
}

.contacts svg{
    margin: 5px 0px;
}