#desc{
    width: 100%;
    height: 140px;
}

#price{
    width: 200px;
    height: 50px;
    font-size: 18px;
}

#addProduct{
    width: 700px;
}

#addProd{
    margin: 0;
}

.section-product{
    background-image: url('https://wallpapercrafter.com/desktop/160948-digital-women-workshop-car-vehicle-artwork.jpg');
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

