header{
    display: flex;
    box-shadow: 0px 0px 16px #888888;
    height: 115px;
    background: rgba(0,0,0,0.7)
}

.name-site{
  margin-left: 20px;
  font-size: 16px;
  color: #9b59b6;
}

.logo-img{
  background-image: url('./logo_200x200-1.png');
  width: 85px;
  height: 65px;
  background-size: 85px;
  margin-left: 30px;
  margin-top: 10px;
}

.div-logo-text:hover{
  cursor: pointer;
}

.catalog-btn{
  border-radius: 50px;
  height: 60px;
  width: 120px;
  font-size: 20px;
  background: transparent;
  color: white;
  border: 0;
}

.div-btns{
  margin-left: 25px;
}

.catalog-btn:hover{
  background-color: white;
  color: black;
}

.log-sign-btns{
  display: flex;
  align-items: center;
}

header h1{
    margin-left: 3%;
    height: 70px;
    padding-top: 10px;
    width: 12%;
}

h1 a{
    text-decoration: none;
    color: #9b59b6;
}

header nav{
    padding: 15px 0 0 0;
    margin-left: 62%;
    margin-top: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a svg{
    margin-right: 10px;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 45px;
    width: 100px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 0 12px 12px;
    text-decoration: none;
    display: block;
    width: 120px;
  }
  
  
  .dropdown:hover .dropdown-content {display: block;}

  .drop-login{
    border-radius: 50px;
    width: 100px;
    font-size: 20px;
    background: transparent;
    color: white;
    margin-left: 20px;
  }

  .drop-login:hover{
    color: black;
    background: white;
  }

  .drop-register{
    background: linear-gradient( #9f01ea, #56d8e4);
    margin-left: 30px;
  }

  .logout-btn{
    border-radius: 50px;
    padding: 15px;
    font-size: 20px;
    background: transparent;
    color: white;
    border: 0;
  }

  .logout-btn:hover{
    color: black;
    background: white;
  }

  .about-us-btn{
    border-radius: 50px;
    padding: 16px;
    width: 125px;
    margin-left: 20px;
    font-size: 20px;
    background: transparent;
    color: white;
    border: 0;
  }
  .about-us-btn:hover{
    background-color: white;
  color: black;
  }