
.myProducts-h1{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: white;
}

.cards-container{
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.myProducts{
    background-image: url('https://wallpapercrafter.com/sizes/1920x1080/254672-a-man-working-in-a-messy-workshop-with-a-table-cha.jpg');
    height: 900px;
}